.loginform {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	background-color: #fff;
	max-width: 400px;
	height: 600px;
	border: 2px solid blueviolet;
	margin: 0 auto;
	margin-top: 10rem;
	border-radius: 5px;
	.loginform__text {
		color: #ccc;
	}
	.loginform__forms {
		margin-top: 5rem;
		flex-direction: column;
		display: flex;
		gap: 20px;
		.forms__title {
			color: blueviolet;
			font-size: 35px;
		}
		.forms__form {
			display: flex;
			flex-direction: column;
			gap: 10px;
			input {
				height: 35px;
				width: 300px;
				border: none;
				background: none;
				border: 1px solid blueviolet;
				border-radius: 4px;
				color: blueviolet;
				font-size: 15px;
				padding-left: 1rem;
			}
		}
		.loginform__btn {
			margin-top: 1rem;
			padding: 0.75rem;
			height: 35;
			cursor: pointer;
			background: none;
			border: 1px solid blueviolet;
			font-size: 16px;
			display: flex;
			align-items: center;
      justify-content: center;
			color: blueviolet;
			gap: 10px;
			border-radius: 5px;
			transition: all 0.3s ease;
		}
		.loginform__btn:hover {
			transform: translateY(-2px);
		}
	}
	.forms__btn {
		display: flex;
		align-items: center;
		gap: 10px;
		.loginform__btn {
			margin-top: 1rem;
			padding: 0.75rem;
			height: 35;
			cursor: pointer;
			width: 100px;
			background: none;
			border: 1px solid blueviolet;
			font-size: 16px;
			display: flex;
			align-items: center;
      justify-content: center;
			color: blueviolet;
			gap: 5px;
			border-radius: 5px;
			transition: all 0.3s ease;
			.btn__item {
				color: blueviolet;
			}
		}
		.loginform__btn:hover {
			transform: translateY(-2px);
		}
	}
}
