.loginform{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  .loginform__text{
    color: #ccc;
  }
  .loginform__forms{
    margin-top: 10rem;
    padding: 4rem;
    border: 2px solid blueviolet;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    height: 400px;
    gap: 20px;
    background-color: #fff;
    .forms__title{
      color: blueviolet;
      font-size: 35px;
    }
    .forms__form{
      display: flex;
      flex-direction: column;
      gap: 10px;
      input{
        height: 35px;
        width: 300px;
        border: none;
        background: none;
        border: 1px solid blueviolet;
        border-radius: 4px;
        color: blueviolet;
        font-size: 15px;
        padding-left: 1rem;
      }
    }
  }
  .loginform__btn{
    margin-top: 1rem;
    padding: .75rem;
    height: 35;
    cursor: pointer;
    width: 120px;
    background: none;
    border: 1px solid blueviolet;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: blueviolet;
    gap: 2px;
    border-radius: 5px;
    .btn__item{
      color: blueviolet;
    }
  }
}