.columns {
	width: 250px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #3a3b3a;
	padding: 2rem;
	border-radius: 4px;
	overflow-y: scroll;
	.columns__top {
		.top {
			cursor: pointer;
			padding-bottom: 10px;
			color: #ccc;
			font-size: 18px;
			border-bottom: 1px solid #3a3b3a;
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			.top__title {
				.title__input {
					border: none;
					background: none;
					outline: none;
					color: #ccc;
					font-size: 16px;
					font-style: italic;
				}
			}
			.trash {
				transition: all 0.3s ease;
				cursor: pointer;
			}
			.trash:hover {
				color: blueviolet;
			}
		}
	}
	.columns__content {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 1rem;
		color: #ccc;
		font-size: 16px;
	}
	.columns__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.footer__btn {
			border: 1px solid #ccc;
			background: none;
			color: #ccc;
			cursor: pointer;
			width: 100px;
			height: 30px;
			font-size: 14px;
			border-radius: 4px;
			transition: all 0.3s ease;
		}
		.footer__btn:hover {
			border: 1px solid blueviolet;
		}
		.footer__grab {
			color: #ccc;
			cursor: grab;
		}
	}
}
